.botonGoogle {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 100vh;
}

.home {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

button {
  margin-top: 20px;
}
